@using ASP.Models;
@{
    Layout = "_ReportsLayout";
}
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
</head>
<body>
    @if (ViewBag.timespan != null)
    {

        <header>
            @ViewBag.timespan
        </header>

    }
    <form asp-action="GetReports" asp-controller="Reports">
        <p>Input Date: <input name="date" type="text" id="datepicker"></p>
        <button type="submit">Find</button>
    </form>

</body>
</html>