<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="btn-group">
            <button style="width:10%">Apple</button>
        <br />
            <button style="width:10%">Samsung</button>
        <br />
            <button style="width:10%">Sony</button>
        <br />
            <button style="width:10%">HTC</button>
        </div>

        <div>
            @RenderBody()
        </div>
</body>
</html>
