@model ASP.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log In";
    Layout = "_AdminLayout";
}
<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/util.css" />
</head>

<body>
   <div class="container-login100">
        <h1><a href="index.html">WealthTech </a></h1>
        <div class="wrap-login100 p-t-190 p-b-30">
            <div class="text-danger" asp-validation-summary="All">
                <form asp-action="Login" asp-controller="Account" method="post" >

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                        <input class="form-control" type="text" placeholder="Email" asp-for="Name" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img class="fa fa-envelope" src="~/images/ImgMail.png" height="12" width="16" />
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="form-control" type="password" placeholder="Password" asp-for="Password" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <img class="fa fa-lock" src="~/images/lock2.png" height="16" width="16" />
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
