@{
    ViewData["Title"] = "Account Reports";
    Layout = "_ReportsLayout";
}

<body>
    <h2>@ViewData["Title"]</h2>
    @if (ViewBag.timespan != null)
    {
        <div>@ViewBag.timespan</div>

    }
    <form asp-action="AccountReports" asp-controller="Test">
        <div>
            <div class="form-group">
                <label>Price</label>
                <input id="AccountNo" name="AccountNo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-default"/>
            </div>
        </div>
    </form>
    <div class="right">
        <a asp-controller="Home" asp-action="Index">Back to home page</a>
    </div>
</body>